/* 480px- 320px */
@media (max-width: 481px) {
  /* header */
  header {
    padding: 28px 20px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  .header_icons_button {
    width: 32px;
    height: 32px;
  }
  /* section1 */
  .section_one_section_a {
    font-size: 24px;
    line-height: 32px;
  }
  /* section_two */
  .section_two {
    padding: 32px 0 32px 20px;
  }
  .section_two_header {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 48px;
  }
}

@media (max-width: 321px) {
  /* header */
  header {
    padding: 28px 8px;
  }
   /* section1 */
   .section_one{
    height: 320px;
   }

  /* sectiontwo */
  .section_two {
    padding: 32px 0 32px 8px;
  }
}
